html{
    scroll-behavior: smooth;
}
body{
    background-color: #2b2b2b;
}
.site-header{
    margin-top: -55px !important;
    position: fixed;
    display: flex;
    display: block;
    justify-self: center;
    flex-direction: column;
}
.menu{
    background-color: lightgray;
    height: 50px;
    width: 1005px;
    border-radius: 100px;
    border:1px grey solid;
}
.nav-menu{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 50px;
}
.menu-text{
    text-decoration: none;
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    border-left: 3px solid rgb(100, 100, 100);
    border-right: 3px solid rgb(100, 100, 100);
    padding-left: 25px;
    padding-right: 25px;
    padding-top: 17px;
    padding-bottom: 16px;
}
.notizie{
    width: 1000px;
    margin-top: 60px;
    padding: 10px;
    height: 85px;
    border-top: 5px solid rgb(100, 100, 100);
    border-right: 5px solid rgb(100, 100, 100);
    border-left: 5px solid rgb(100, 100, 100);
    border-bottom: 2.5px solid rgb(100, 100, 100);
    display: flex;
    display: block;
    justify-content: flex-start;
    justify-self: center;
    background-color: rgb(200, 200, 200);
}
.cronaca, .tech, .sport, .economia, .cultura{
    width: 1000px;
    margin-top: 0px;
    padding: 10px;
    padding-top: 50px;
    height: 1000px;
    border: 5px solid rgb(100, 100, 100);
    display: flex;
    display: block;
    justify-content: flex-start;
    justify-self: center;
    background-color: rgb(200, 200, 200);
}
h1, h2{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: black;
    font-size: 50px;
    margin-top: -10px;
    display: flex;
    justify-content: flex-start;
}
.notizie > h3{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: black;
    font-size: 20px;
    margin-top: -20px;
    font-weight: 1;
}
.news-card{
    width: 970px;
    margin-top: 30px;
    gap: 30px;
    padding: 10px;
    height: 115px;
    border: 5px solid rgb(100, 100, 100);
    border-radius: 20px;
    display: flex;
    display: block;
    justify-self: flex-start;
    background-color: rgb(200, 200, 200);
}
.news-text{
    margin-top: -15px;
    width: 480px;
    height: 145px;
    border-right: 5px solid rgb(100, 100, 100);
}
.news-text >h3{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    padding-top: 25px;
    width: 470px;
    height: 10px;
    font-size: 22px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.news-text >p{
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    width: 470px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 13px;
}
.img-row{
    margin-top: -112.5px;
    margin-left: 500px;
    display: flex;
    justify-content: space-around;
}
img{
    width: 80px;
    height: 80px;
    cursor: pointer;
}
